<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <meta charset="UTF-8">
    <title>Reflect-Diary</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<main>
    <div class="create-goal__content container">
        <a th:href="@{/}">
            <h1>Reflect-Diary</h1>
        </a>
        <div class="create-goal__form--wrapper">
            <button id="dark-toggle">🌙 Dark Mode</button>
            <div><h2>Create/Update Goal</h2></div>
            <form th:object="${goal}"
                  th:action="@{${formAction}}"
                  method="post"
                  class="create-goal__form">
                <input type="hidden" th:field="*{id}"/>
                <label for="description">Description</label>
                <textarea type="text" id="description" name="goal-name" th:field="*{description}" required
                          maxlength="10000"></textarea>

                <label for="deadline">Deadline</label>
                <input type="date"
                       id="deadline"
                       name="deadline"
                       th:attr="min=${minDate}, max=${maxDate}"
                       th:field="*{deadline}" required/>

                <button type="submit">Save Goal</button>
            </form>
        </div>
    </div>
</main>
<div style="height: 40px;"></div>
</body>
</html>