<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reflect-Diary</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main class="container">
    <a th:href="@{/}">
        <h1>Reflect-Diary</h1>
    </a>
    <h2>Your Goals</h2>
    <a class="profile__create-link" th:href="@{/goals/create}">Create new Goal</a>
    <a th:href="@{/}" class="back-link">← Back to profile</a>
    <ul class="goals__list" th:if="${goals != null}">
        <li class="goal__item" th:each="goal : ${goals}">
            <div class="goal__info--wrapper">
                <div class="goal__top">
                    <p class="goal__help-text">Deadline:
                        <span class="goal__date"
                              th:text="${#temporals.format(goal.deadline, 'dd.MM.yyyy')}">2025-05-17</span></p>
                    <form th:action="@{'/goals/' + ${goal.id} + '/toggle'}" method="post">
                        <button type="submit" class="goal__status"
                                th:text="${goal.completed ? '✓ Completed' : '⏳ In progress'}"
                                th:classappend="${goal.completed ? ' completed' : ' in-progress'}">
                        </button>
                    </form>

                </div>
                <p class="goal__help-text">Goal description: </p>
                <p class="goal__desc" th:text="${goal.description}">Goal description</p>
                <div class="goal__action-buttons">
                    <form th:action="@{'/goals/+' + ${goal.id} + '/delete'}" method="post">
                        <button type="submit" class="delete__button">Delete</button>
                    </form>
                    <a th:href="@{'/goals/' + ${goal.id} + '/edit'}">Edit</a>
                </div>
            </div>
        </li>
    </ul>
</main>
<div style="height: 40px;"></div>
</body>
</html>