<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Reflect-Diary</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
<main>
    <div class="container login__content">
        <h1>Sign in</h1>
        <div th:if="${param.error}" class="alert alert-danger">
            <p style="color: red"> Invalid username or/and password.</p>
        </div>
        <form class="login__form" th:action="@{/auth/login}" method="post">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   name="username"
                   placeholder="username"
                   required
                   minlength="2"
                   maxlength="50"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="password" required minlength="6"
                   maxlength="100"/>
            <button type="submit">Login</button>
        </form>
        <p class="login__text">Don't have an account? <a th:href="@{/auth/register}">Create an account</a></p>
    </div>
</main>

</body>
</html>